/* paleta de colores */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.kits-flex {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap; }

/* utilizado en titulos en style.scss*/
/* grid de los productos y kits */
.productos-grid {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr;
  grid-template-rows: 1.5fr 1.5fr;
  justify-items: center;
  align-items: center;
  padding-bottom: 3rem; }
  @media screen and (max-width: 768px) {
    .productos-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      padding-bottom: 3rem; } }
  @media screen and (max-width: 360px) {
    .productos-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      padding: 0 1rem 3rem 1rem; } }

/* fuente de los parrafos de cada imagen de prod o kits*/
.box p {
  font-size: 1.2rem; }

/* flex de los kits */
.kits-flex {
  justify-content: space-around;
  padding: 0rem 1rem 0rem 3rem; }
  .kits-flex p {
    font-size: 1.2rem; }

/* valoraciones de los clientes*/
.valoraciones-clientes {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin: 0;
  padding: 1.2rem; }
  .valoraciones-clientes p {
    font-size: 1.2rem; }
  @media screen and (max-width: 991px) {
    .valoraciones-clientes {
      display: flex;
      list-style-type: none;
      padding: 1.2rem;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .valoraciones-clientes p {
        font-size: 1rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #fcfcfc; }

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ed7966;
  height: auto;
  padding-top: 40px;
  color: #fff; }

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem; }
  .footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px; }

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0; }
  .socials li {
    margin: 0 10px; }
  .socials a {
    text-decoration: none;
    color: #fff; }
  .socials i {
    font-size: 1.1rem;
    transition: color .4s ease; }
    .socials i:hover {
      color: #303179; }

.footer-bottom {
  background: #303179;
  padding: 20px 0;
  text-align: center; }
  .footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize; }
  .footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200; }

.encabezado p {
  background-color: #ed7966;
  color: white;
  font-size: 0.9rem;
  text-align: center;
  /* alinea el texto al centro */
  padding: 15px;
  font-family: 'Montserrat'; }

.navClass a {
  font-size: 1.1rem;
  font-family: 'Montserrat' sans-serif;
  cursor: pointer;
  transition: .3s ease all;
  border-radius: 5%; }
  .navClass a:hover {
    background: #f5cac2; }

.logo {
  width: 300px; }
  @media screen and (max-width: 991px) {
    .logo {
      width: 225px; } }

/*
reseteo css
*/
* {
  margin: 0;
  padding: 0; }

/* bordes para las fotos */
img {
  border-radius: 5%;
  max-width: 100%;
  height: auto; }

/* font-family  */
body {
  font-family: 'Montserrat' sans-serif; }

/* titulo "nuestros productos" y "kits..." */
.titulos {
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
  color: #141850; }

.wallpaper {
  /* background: rgb(255,255,255);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(245,202,194,1) 100%); */
  background-color: #fae5df; }

.padbottom {
  padding-bottom: 1rem; }
