footer{
    @include colores($bg_naranja);
}

.titulo-contacto{
    text-align: center;
    font-size: 1.5rem;
    padding: 30px;
    color: white;
}

.lista-contacto{
    @extend %disposicion;
    flex-direction: column;
    align-items: center;
    li{
        display: flex;
        font-size: 0.8rem;
        padding-bottom: 10px; 
    }
    p{
        color: white;
    }
}


.redes-sociales{
    display: flex;
    justify-content: center;
    padding: 20px;
    i{
        font-size: 1rem;
        padding: 0 20px 0 20px;
    }
}

.copy{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0%;
}