.encabezado p{
    background-color:#ef9273;
    color: white; 
    font-size: 0.9rem;
    text-align: center; /* alinea el texto al centro */
    padding: 15px;
    font-family: 'Montserrat';
} 

.navClass a{
    font-size: 1.1rem;
    font-family: 'Montserrat' sans-serif;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5%;
    &:hover{
        background: $bg_rosado;
    }
}

.logo{
    width: 300px;
    @media screen and (max-width:991px){
          width: 225px;
    }
}